- cache ['v1', 'tw_index', TwitterAccount.first, page, I18n.locale] do
  .tweet_index{id: "tweets_index_#{page}"}
    -for tweet in TwitterAccount.first.tweets.order(tweet_created_at: :desc).limit(Tweet::PER_PAGE).offset(Tweet::PER_PAGE * page)
      =render partial: 'tweets/index_row', locals: { tweet: tweet }
