%ul.pager.tweet_pager{id: "twitter_pager_#{page}"}
  -if page > 0
    %li.older
      %a{onclick: "window.twitter_index.change_page('#{page - 1}')"}
        ← Older
  -if page < (tweets_count/4)
    %li.newer
      =link_to('Newer →', tweets_path(page + 1), remote: true, onclick: "$('#twitter_loading_area').fadeIn('slow');")