%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      =link_to('Daniel Romero', root_path, class: 'navbar-brand', onclick: "window.danielromero.scroll_to($('body'))" )
    .navbar-collapse.collapse.hidden-xs
      .timeline-badge
        09
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to('contact', contact_path(I18n.locale))