%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      =link_to('Daniel Romero', "/#{I18n.locale}", class: 'navbar-brand', onclick: "window.danielromero.scroll_to($('body'))" )
    .navbar-collapse.collapse.hidden-xs
      .timeline-badge
      %ul.nav.navbar-nav.navbar-right
        %li
          =link_to(t(:contact).capitalize, contact_path(I18n.locale))
        -if session[:user]
          %li
            -if session[:user][:social] == 'facebook'
              =link_to(clear_session_path, onclick: "FB.logout(function(response){ $.getScript(#{clear_session_path(format: :js)}); });") do
                =t(:disconnect, name: session[:user][:name])
            -else
              =link_to(clear_session_path) do
                =t(:disconnect, name: session[:user][:name])