.row.text-center
  .col-md-3
    %span.chart{"data-percent" => "75"}
      %span.percent
    %h4 JQUERY
  .col-md-3
    %span.chart{"data-percent" => "80"}
      %span.percent
    %h4 HTML
  .col-md-3
    %span.chart{"data-percent" => "95"}
      %span.percent
    %h4 PHP
  .col-md-3
    %span.chart{"data-percent" => "65"}
      %span.percent
    %h4 JAVA
:javascript
  $('.chart').easyPieChart({
      easing: 'easeOutBounce',
      onStep: function (from, to, percent) {
          $(this.el).find('.percent').text(Math.round(percent));
      },
      barColor: '#05D6AC', //FORCOLOR OF CHART
      lineWidth: 10, //WIDTH OF STRIP OF SKILL CHART
      size: 200, //WIDTH - HEIGHT OF SKILL CHART(SHOULD BE IN SQUARE) -  SHOUL BE EQUAL - Like 200px 
  });
  $('.chart').data('easyPieChart').update(40);