%ul.timeline
  %li
    .timeline-badge.year{style: 'top: -40px;'}
      Año
  -##### 2015
  %li.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-badge{ class: classes.sample }
        15
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_12)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =distance_of_time_in_words("22/7/2015", Time.now)
        .timeline-body
          %p=t(:timeline_content_12)
  %li.timeline-inverted.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_11)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =distance_of_time_in_words("6/4/2015", "26/6/2015")
        .timeline-body
          %p=t(:timeline_content_11)
  -##### 2014
  %li.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-badge{ class: classes.sample }
        14
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_10)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              ='25/7/2014'.to_date.to_s(:short)
        .timeline-body
          %p=t(:timeline_content_10)
          %hr/
          =link_to('ß', 'https://betabeers.com/event/2-betabeers-guadalajara-windowsphone-websockets-2049/', class: 'btn btn-primary')
  -#####
  %li.timeline-inverted.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_9)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =time_ago_in_words("5/5/2014")
        .timeline-body
          %p=t(:timeline_content_9)
  -#####
  %li.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_8)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              ='28/2/2014'.to_date.to_s(:short)
        .timeline-body
          %p=t(:timeline_content_8)
          %hr/
          =link_to('ß', 'https://betabeers.com/event/1er-betabeers-guadalajara-git-github-admob-beperkcom-1502/', class: 'btn btn-primary')
  -##### 2013
  %li.timeline-inverted.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-badge{ class: classes.sample }
        13
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_7)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =distance_of_time_in_words("25/8/2013", "5/5/2014")
        .timeline-body
          %p=t(:timeline_content_7)
  -#####
  %li.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_6)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =I18n.t("date.month_names")[9]
        .timeline-body
          =raw t(:timeline_content_6)
  -#####
  %li.timeline-inverted.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-panel
        .timeline-heading
          %h4.timeline-title GitHub
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =I18n.t("date.month_names")[2]
        .timeline-body
          %p=t(:timeline_content_5)
          %hr/
          =link_to('https://github.com/danielRomero', class: 'btn btn-primary') do
            .fa.fa-github
  -#####
  %li.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_4)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =distance_of_time_in_words("25/8/2013", "25/2/2013")
        .timeline-body
          %p=t(:timeline_content_4)
  %li.timeline-inverted.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Twitter
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =I18n.t("date.month_names")[2]
        .timeline-body
          =raw t(:timeline_content_3)
          %hr/
          =link_to('https://twitter.com/DanielRomeroE', class: 'btn btn-primary') do
            .fa.fa-twitter
  -##### 2011
  %li.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-badge{ class: classes.sample }
        11
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_2)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              90 horas
        .timeline-body
          =raw t(:timeline_content_2)
  -##### 2009
  %li.timeline-inverted.soft_appear{data: {appear: {top: {offset: "0"}}}}
    .appear_elem
      .timeline-badge{ class: classes.sample }
        09
      .timeline-panel
        .timeline-heading
          %h4.timeline-title=t(:timeline_title_1)
          %p
            %small.text-muted
              %i.fa.fa-clock-o
              =I18n.t("date.month_names")[9]
        .timeline-body
          =raw t(:timeline_content_1)       
.clearfix