-if !defined?(user)
  .jumbotron#contact
    .container
      %h1=t(:contact).capitalize
      %p=t(:contact_login)
      =link_to(authenticate_twitter_path, class: 'btn btn-primary') do
        .fa.fa-twitter
      =link_to(authenticate_google_path, class: 'btn btn-primary') do
        .fa.fa-google
      =link_to(authenticate_github_path, class: 'btn btn-primary') do
        .fa.fa-github
      <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
      </fb:login-button>
      %small=t(:login_data)
-else
  =render partial: 'application/contact', locals: { user: user }